/* Global */
@font-face {
    font-family: 'geomanist';
    src: url('font/geomanist-regular-webfont.eot');
    src: url('font/geomanist-regular-webfont.ttf') format('truetype');
}
body {
    font-family: 'geomanist' !important;
}

/* Nav bar css */
.logo {
    
}
a:link {
    color: #FEFF09;
    text-decoration: none;
}
a:visited:hover {
    color: #2C2C2C;
    text-decoration: none;
}
a:visited {
    color: #FEFF09;
    text-decoration: none;
}
a:link:hover {
    color: #2C2C2C;
    text-decoration: none;
}
a:hover {
    color: #2C2C2C;
    text-decoration: none; 
}
a {
    text-decoration: none;
}
.menu {
    background: #2C2C2C;
}
nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
}
nav li {
    display: inline-block;
    margin: 0 5px;
    transition: all 0.3s;
}
nav a {
    display: block;
    color: #2C2C2C;
    transition: all 0.3s;
}
nav a:hover {
    color: #FEFF09;
}
nav span {
    display: block;
}
/* Nav bar skew css */
@media all and (min-width: 690px) {
  left li {
    margin: 0;
    transform: skewX(45deg);
    padding: 0 2% 0 0;
  }
  right li {
    margin: 0;
    transform: skewX(-45deg);
    padding: 0 0 0 2%;
  }
  nav a {
    padding: 10px 20px;
    color: #fff;
    background-color: #2C2C2C;
  }
  nav a:hover {
    color: #fff;
    background-color: #FEFF09;
  }
  left span {
    transform: skewX(-45deg);
  }
  right span{
    transform: skewX(45deg)
  }
}

/* Landing page */ 

/* Bootstrap */
.col-centered {
    float: none;
    margin: auto;
}
.col-xs-offset-right-12 {
  margin-right: 100%;
}
.col-xs-offset-right-11 {
  margin-right: 91.66666667%;
}
.col-xs-offset-right-10 {
  margin-right: 83.33333333%;
}
.col-xs-offset-right-9 {
  margin-right: 75%;
}
.col-xs-offset-right-8 {
  margin-right: 66.66666667%;
}
.col-xs-offset-right-7 {
  margin-right: 58.33333333%;
}
.col-xs-offset-right-6 {
  margin-right: 50%;
}
.col-xs-offset-right-5 {
  margin-right: 41.66666667%;
}
.col-xs-offset-right-4 {
  margin-right: 33.33333333%;
}
.col-xs-offset-right-3 {
  margin-right: 25%;
}
.col-xs-offset-right-2 {
  margin-right: 16.66666667%;
}
.col-xs-offset-right-1 {
  margin-right: 8.33333333%;
}
.col-xs-offset-right-0 {
  margin-right: 0;